{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle annonce
{% endblock %}

{% block body %}
	<div class="container text-muted pt-4">
		<h1 class="text-center ">Créer une nouvelle annonce</h1>

		{{include('admin_property/_form.html.twig', {form:form, button: 'Créer'})}}

	</div>


{% endblock %}

